.container {
  margin: 0 auto;
  position: relative;
  background-color: var(--main-bg-color);
  border: 1px solid var(--transparent-color);
  @media screen and (max-width: 479px) {
    max-width: 300px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}