.div {
  background-color: rgb(209, 207, 207);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  height: 100vh;

  @media screen and (max-width: 1200px) {
    padding: 10px 20px;
  }
  @media screen and (min-width: 1200px) {
    padding: 20px 40px;
  }
}
